.logo1{
    width: 100px;
    height: 100%;
}

.btn{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 6px;
    translate: 60px;
}

.btn1{
    width: 50%;
    height: 35px;
    background-color: #121314;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 0;
    width: fit-content;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
    
}

.btn2{
    background-color:#121314;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 0;
    width: fit-content;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
    height: 35px;
}

.titulo{
    font-weight: 500;
    align-items: center;
    display: flex;
}

.btn3{
    border-radius: 100px;
    height: 49px;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    }

.iniciar{
    font-size: 20px;
}
